{#
/**
 * @file redhen_connection.html.twig
 * Default theme implementation to present Connection data.
 *
 * This template is used when viewing Connection pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_redhen_connection()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('redhen_connection') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
