.field-widget-redhen-email-widget .redhen-email-widget-item {
  clear: both;
  overflow: auto;
	width: 100%
}

.field-widget-redhen-email-widget .redhen-email-widget-item .form-type-textfield {
  float: left;
  margin-right: 1em;
}

.field-widget-redhen-email-widget .redhen-email-widget-item .form-type-select {
  float: left;
  margin-right: 1em;
}
